.darkBG
{
	background: #999;
}

.darkerBG
{
	background: #666;
}

.darkestBG
{
	background: #333;
}



#navbar
{
	width: 100%;
}

#Search
{
	padding:0;
}

.backGR
{

	background: #FFFFFF;
}






.containerTab
{
	
	width: 300px;
margin: 0;
	padding: 0;
	border: solid black 2px;
}

.overflo
{
	overflow:auto;
	height:362px;
	margin: 0;
	padding: 0;
	border: solid black 2px;
	
}

.empty
{
	
}

h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
	margin: 20px;
}


.glyphicon
{
	font-size:20px;
}

.signIn-header
{
	padding-bottom: 10px;
	text-align: center;
}

.panel-primary
{
	margin: 5px;
}
#projectDisp
{
	height: 300px;
}

.img-rounded
{
	max-width: 450px;
	max-height: 300px;
}

