.darkBG
{
	background: #999;
}

.darkerBG
{
	background: #666;
}

.darkestBG
{
	background: #333;
}

.navbar
{
	background: #123456;		
}

#navbar
{
	width: 100%;
}

#Search
{
	padding:0;
}

.backGR
{

	background: #FFFFFF;
}




.glyphicon
{
	font-size:20px;
}

.containerTab
{
	
	width: 300px;

}

.overflo
{
	overflow:auto;
	height:362px;
}

.empty
{
	margin-top: 7em;
}